*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: #FFEFF8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.projet_container{
    width: 90vw;
    margin: auto;
}
.projet_video{
    width: 100%;
    box-shadow: 0px 0px 20px rgb(150, 150, 150);
    height: auto;
}
.projet_video video{
    width: 100%;   
}
.projet_container h3{
    justify-self: center;
    padding-top: 5vh;
}
@media screen and (min-width: 768px) {
    .projet_container{
    width: 70vw;
    margin: auto;
}
}