*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BURGER */

.menu-mobile-checkbox {
    position: absolute;
    opacity: 0;
}

.menu-mobile-burger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.menu-mobile-burger span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}


#menuMobileBurger:checked + .header .menu-mobile-burger span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}
#menuMobileBurger:checked + .header .menu-mobile-burger span:nth-child(2) {
    opacity: 0;
}
#menuMobileBurger:checked + .header .menu-mobile-burger span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

#menuMobileBurger:checked ~ .menu-mobile {
    display: block;
}

/* NAV DESKTOP */

nav{
    background-color: #206A73;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 20px 0 20px black;
    padding-left: 5vw;
    padding-right: 5vw;
}
.logo{
    height: 15vh;
    width: auto;
}
.menu-desktop{
    display: none;
}
.menu-desktop a{
    text-decoration: none;
    color: black;
    position: relative;
}

.menu-desktop a::after{
    content:"";
    height: 2px;
    width: 0px;
    background-color: black;
    transition: width 1s ease;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
}
.menu-desktop a:hover::after{
    width: 100%;
}

/* NAV MOBILE */

.menu-mobile{
    display: none;
}
.menu-mobile a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(209, 209, 209);
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 5vw;
}
.menu-mobile a:hover{
    background-color: #5C4673;
}
@media screen and (min-width: 768px) {
    .menu-mobile-burger{
        display: none;
    }
    .menu-desktop{
        display: block;
        display: flex;
        flex-direction: row;
        gap: 4vw;
    }
    .menu-mobile{
        display: none;
    }
    #menuMobileBurger:checked ~ .menu-mobile {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    #menuMobileBurger:checked ~ .menu-mobile {
        display: flex;
        flex-direction: column;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 3vh;
    }
}